* {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-show {
  display: block;
}

.notice {
  text-align: center;
  width: 100%;
  line-height: 30px;
  background-color: #1a1a1a;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.navbar {
  line-height: 60px;
  display: flex;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  flex: 2;
  justify-content: space-between;
}

.menu button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.login {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.login button {
  border: none;
  background-color: #1a1a1a;
  color: white;
  padding: 25% 35%;
  font-size: 14px;
  font-weight: bold;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  max-width: 100%;
}

.featured {
  max-width: 100%;
  max-height: 100%;
  padding: 24px 48px;
}

.list {
  font-size: 32px;
  color: #4a4a4a;
}

.products {
  display: flex;
  width: 100%;
  height: 100%;
}

.products img {
  width: 100%;
  height: 100%;
}

.product {
  flex: 1;
}

.goods {
  justify-content: space-between;
  padding: 0% 10%;
}

.goods-name {
  font-size: 24px;
  font-weight: 600;
  color: #4a4a4a;
}

.goods-price {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4a4a4a;
  font-weight: 700;
}

.goods-detail {
  padding: 2% 10%;
  font-size: 20px;
  color: #4a4a4a;
}

.section {
  max-width: 100%;
  max-height: 100%;
  padding: 0px 48px 24px;
  margin-top: 12%;
}

.section img {
  max-width: 100%;
  max-height: 100%;
}

.productSection {
  display: flex;
  justify-content: space-between;
  gap: 1%;
}

.section3 {
  margin-top: 1%;
}

.craft {
  max-width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  padding: 50px 48px;
}

.craft-container {
  margin: 0px 95px;
  padding: 48px 0px;
}

.craft-title {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.craft-name {
  color: white;
  font-size: 32px;
}

.craft-detail {
  color: white;
}

.craft-detail p {
  text-align: right;
}

.craft-imgs {
  display: flex;
  padding: 1%;
}

.craft-imgs img {
  width: 100%;
  height: 100%;
}

.learn {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1%;
}

.learn-btn {
  color: #4c4c4c;
  background-color: white;
}

.bugatti {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: contain;
  background-image: url(./img/main/bugatti.jpg);
  background-repeat: no-repeat;
  height: 66vh;
  width: 98.8vw;
}

.bugatti p {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 2vh;
}

.company {
  font-size: 2rem;
}

.company-detail {
  font-size: 3rem;
}

.bugatti-btn {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.discover {
  background-color: white;
  border: none;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  font-weight: 800;
  color: #4c4c4c;
}

/* .bugatti img {
  max-width: 100%;
} */

.MandD {
  display: flex;
}

.free {
  display: flex;
}

.shipping {
  flex: 1;
}

.returns {
  flex: 1;
}

.protection {
  flex: 1;
}

.support {
  display: flex;
}

.black-container {
  background-color: black;
  color: white;
}

.sign-container {
  display: flex;
}
